.checkboxList
  .checkboxList__text
    span.checkboxList__text--caption expandble checkbox list
  .checkboxList__arrow
    img.checkboxList__arrow--img(src="./assets/img/svg/expand_more.svg", alt="")
