@import "/src/assets/scss/utils/vars";

.checkboxList {
  width: 266px;
  border: none;
  display: flex;
  justify-content: space-between;
  background: $bg-white;

  &__text {
    margin: 15px 0 15px 0;

    &--caption {
      text-decoration: none;
      text-transform: uppercase;
      font: {
        family: $mainFont;
        weight: $mainFontWeightBold;
        size: 12px;
      }
      line-height: 15px;
      color: $darker-shade;
    }
  }

  &__arrow {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  }
}
