.roomDetails
  .roomDetails__item
    i.material-icons insert_emoticon
    .roomDetails__text
      p.roomDetails__header-text Комфорт
      p.roomDetails__body-text Шумопоглощающие стены
  hr.roomDetails__line
  .roomDetails__item
    i.material-icons location_city
    .roomDetails__text
      p.roomDetails__header-text Удобство
      p.roomDetails__body-text Окно в каждой из спален
  hr.roomDetails__line
  .roomDetails__item
    i.material-icons whatshot
    .roomDetails__text
      p.roomDetails__header-text Уют
      p.roomDetails__body-text Номер оснащён камином