.expandedDropdown
  .expandedDropdown__header
    .expandedDropdown__text
      span.expandedDropdown__text--current 2 спальни, 2 кровати...
    .expandedDropdown__arrow
      img.expandedDropdown__arrow--img(src="./assets/img/svg/expand_more.svg", alt="")
  .expandedDropdown__body
    .expandedDropdown__item
      span.expandedDropdown__item--text Спальни
      .expandedDropdown__count
        button.expandedDropdown__button - 
        span.expandedDropdown__value  0
        button.expandedDropdown__button +
    .expandedDropdown__item
      span.expandedDropdown__item--text Кровати
      .expandedDropdown__count
        button.expandedDropdown__button - 
        span.expandedDropdown__value  0
        button.expandedDropdown__button +
    .expandedDropdown__item
      span.expandedDropdown__item--text Ванные комнаты
      .expandedDropdown__count
        button.expandedDropdown__button - 
        span.expandedDropdown__value  0
        button.expandedDropdown__button +

