.subscriptionTextField
  .subscriptionTextField__text
    span.subscriptionTextField__text--email Email
  .subscriptionTextField__arrow
    img.subscriptionTextField__arrow--forward(src="./assets/img/svg/arrow_forward.svg", alt="")