.filterDateDropdown
  .filterDateDropdown__text
    span.filterDateDropdown__text--date 19 авг - 23 авг
  .filterDateDropdown__arrow
    img.filterDateDropdown__arrow--down(src="./assets/img/svg/expand_more.svg", alt="")