.checkboxButton
  p.checkboxButton__text-header checkbox buttons
  .checkboxButton__body
    .checkboxButton__check
      input.checkboxButton__custom-checkbox(type="checkbox" id="checkboxButton__smoke")
      label.checkboxButton__label(for="checkboxButton__smoke") Можно курить
    .checkboxButton__check
      input.checkboxButton__custom-checkbox(type="checkbox" id="checkboxButton__pets")
      label.checkboxButton__label(for="checkboxButton__pets") Можно с питомцами
    .checkboxButton__check
      input.checkboxButton__custom-checkbox(type="checkbox" id="checkboxButton__guests")
      label.checkboxButton__label(for="checkboxButton__guests") Можно пригласить гостей <br>(до 10 человек)