@import "/src/assets/scss/utils/vars";

.checkboxButton {
  &__text-header {
    text-decoration: none;
    text-transform: uppercase;
    font: {
      family: $mainFont;
      weight: $mainFontWeightBold;
      size: 12px;
    }
    line-height: 15px;
    color: $darker-shade;
  }

  &__body {
    margin-top: 17px;
  }

  &__custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__label {
    text-decoration: none;
    font: {
      family: $mainFont;
      weight: $mainFontWeight;
      size: 14px;
    }
    line-height: 18px;
    color: $light-shade;
    white-space: pre;
  }

  &__custom-checkbox + &__label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  &__custom-checkbox + &__label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $lighter-shade;
    border-radius: 4px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  &__custom-checkbox + &__label::after {
    content: none;
    display: inline-block;
    height: 6px;
    width: 8px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
  }

  &__custom-checkbox + &__label::after {
    position: absolute;
    left: 5px;
  }

  &__custom-checkbox:checked + &__label::after {
    content: "";
  }

  &__custom-checkbox:hover + &__label::before {
    cursor: pointer;
  }
}
