.radioButton
  p.radioButton__header-text Radio button
  .radioButton__form
    .radioButton__item
      input.radioButton__item-input(id="radio-man" type="radio" name="radio")
      label.radioButton__item-label(for="radio-man") Мужчина
    .radioButton__item
      input.radioButton__item-input(id="radio-woman" type="radio" name="radio")
      label.radioButton__item-label(for="radio-woman") Женщина