@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat/Bold/Montserrat-Bold.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/Montserrat/Bold/Montserrat-Bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/Montserrat/Bold/Montserrat-Bold.woff")
      format("woff"),
    /* Pretty Modern Browsers */
      url("/assets/fonts/Montserrat/Bold/Montserrat-Bold.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/assets/fonts/Montserrat/Bold/Montserrat-Bold.svg") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat/Bold/Montserrat-Regular.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/Montserrat/Bold/Montserrat-Regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/Montserrat/Bold/Montserrat-Regular.woff")
      format("woff"),
    /* Pretty Modern Browsers */
      url("/assets/fonts/Montserrat/Bold/Montserrat-Regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/assets/fonts/Montserrat/Bold/Montserrat-Regular.svg") format("svg"); /* Legacy iOS */
}
