//Color
$darker-shade: rgba(31, 32, 65, 1);
$dark-shade: rgba(31, 32, 65, 0.75);
$light-shade: rgba(31, 32, 65, 0.5);
$lighter-shade: rgba(31, 32, 65, 0.25);
$lighter-gray: rgba(31, 32, 65, 0.05);
$purple: rgba(188, 156, 255, 1);
$green: rgba(111, 207, 151, 1);
$bg-white: #ffffff;

//Font
$mainFont: "Montserrat", Arial, sans-serif;
$mainFontWeight: 400;

//Heading
$headWeight: 700;
$headFirstSize: 24px;
$headFirstLH: 29px;
$headSecondSize: 19px;
$headSecondLH: 23px;
$headThirdSize: 12px;
$headThirdLH: 15px;

//Body
$bodyWeight: 400;
$bodySize: 14px;
$bodyLH: 24px;
