.defaultDropdown
  .defaultDropdown__text
    span.defaultDropdown__text--current 2 спальни, 2 кровати...
  .defaultDropdown__arrow
    img.defaultDropdown__arrow--img(src="./assets/img/svg/expand_more.svg", alt="")
