.toggle
  p.toggle__text-header toggle
  .toggle__form
    label.toggle__switch
      input.toggle__input-form(id="toggle-offers" type="checkbox" name="radio-toggle")
      span.toggle__slider.toggle__round
    label.toggle__label-form(for="toggle-offers") Получать спецпредложения
