@import "/src/assets/scss/utils/vars";

.text-field {
  width: 320px;
  border: 1px solid $lighter-shade;
  border-radius: 4px;
  outline: none;
  padding: 12px 0 8px;

  &::placeholder {
    font: {
      family: $mainFont;
      weight: $mainFontWeight;
      size: 14px;
    }
    line-height: 18px;
    color: $lighter-shade;
    text-indent: 15px;
  }

  &:focus {
    border: 1px solid $light-shade;
  }

  &:hover {
    border: 1px solid $light-shade;
  }
}
