doctype
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 
      block title
  body
    include ../../block/textField/textField
    include ../../block/dropdown/dropdown
    include ../../block/maskedTextField/maskedTextField
    include ../../block/dateDropdown/dateDropdown
    include ../../block/filterDateDropdown/filterDateDropdown
    include ../../block/subscriptionTextField/subscriptionTextField
    include ../../block/defaultDropdown/defaultDropdown
    include ../../block/expandedDropdown/expandedDropdown
    block content
  script(src="/src/block/dropdown/dropdown.js")