.dropdown
  .dropdown__header
    .dropdown__text
      p.dropdown__current Сколько гостей
    .dropdown__img
      img(class="dropdown__img--arrow" src="./assets/img/svg/expand_more.svg", alt="")
  .dropdown__body
    .dropdown__item
      p.dropdown__item--text Взрослые
      .dropdown__button
        span.dropdown__button--add
      p.dropdown__value
      .dropdown__button
        span.dropdown_button--del
      p.dropdown__item--text Дети
      .dropdown__button
        span.dropdown__button--add
      p.dropdown__value
      .dropdown__button
        span.dropdown_button--del
      p.dropdown__item--text Младенцы
      .dropdown__button
        span.dropdown__button--add
      p.dropdown__value
      .dropdown__button
        span.dropdown_button--del
  p.dropdown__button-apply Очистить
  p.dropdown__button-apply Применить