.dropdown
  .dropdown__header
    .dropdown__text
      span.dropdown__current Сколько гостей
    .dropdown__img
      img(class="dropdown__img--arrow" src="./assets/img/svg/expand_more.svg", alt="")
  .dropdown__body.dropdown__active
    .dropdown__item
      p.dropdown__item--text Взрослые
      .dropdown__count
        a(class= "dropdown__button" href="")
          span.dropdown__button--del -
        p.dropdown__value  0
        a(class= "dropdown__button" href="")
          span.dropdown__button--add +
    .dropdown__item
      p.dropdown__item--text Дети
      .dropdown__count
        a(class= "dropdown__button" href="") 
          span.dropdown__button--del -
        p.dropdown__value 0
        a(class= "dropdown__button" href="")
          span.dropdown__button--add +
    .dropdown__item
      p.dropdown__item--text Младенцы
      .dropdown__count
        a(class= "dropdown__button" href="")
          span.dropdown__button--del -
        p.dropdown__value 0
        a(class= "dropdown__button" href="")
          span.dropdown__button--add +
    .dropdown__button-settings
      a(class="dropdown__button-clear" href="#") Очистить
      a(class= "dropdown__button-apply" href="#") Применить